.sheet {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(161,235,245,1) 0%, rgba(220,191,255,1) 100%);
    overflow-y: auto;

}

.panel {
    margin-top: 25vh;
    height: 10vh;
    background: aliceblue;
    animation-name: smoothDrop;
    animation-duration: 0.25s;
    transition: all 0.5s linear;
}

.panel:hover,
.panel:focus,
.panel:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

@keyframes smoothDrop {
    from {
        transform: translate(-100%) scaleX(0);
    }
    to {
        transform: translate(0) scaleX(1);
    }
}