.gridContainer {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(221,224,216,1) 0%, rgba(215,240,210,1) 50%, rgba(226,240,242,1) 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 2.4fr 0.4fr;
    gap: 1px 1px;
    grid-template-areas: "Union" "panel" "footer";
}

.Union {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "upper register";
    grid-area: Union;
}

.Union {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "upper";
    grid-area: Union;
}

.upper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "header" "menu";
    grid-area: upper;
}

.header {
    grid-area: header;
}

.menu {
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 60px;
    border-color: transparent;
    grid-area: menu;
    background: rgba(59,255,143,0.81);
    animation-name: smoothDrop;
    animation-duration: 0.5s;
    transition: all 0.5s linear;
    opacity: 20%;
    /*background: rgb(193,125,205);*/
    /*background: linear-gradient(0deg, rgba(193,125,205,1) 0%, rgba(101,179,84,1) 50%, rgba(176,131,194,1) 100%);*/
}

.menu:hover,
.menu:focus,
.menu:active {
    opacity: 70%;
    /*box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);*/
}

.register {
    display: grid;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px white;
    /*box-shadow: -1px 1px 5px 9px rgba(75,77,79,0.79);*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "signIn" "signUp";
    grid-area: register;
}

.signIn { grid-area: signIn; }

.signUp { grid-area: signUp; }

.panel {
    margin-left: 10vw;
    grid-area: panel;
    animation-name: smoothDrop;
    animation-duration: 0.25s;
    transition: all 0.5s linear;
}

.panel:hover,
.panel:focus,
.panel:active {

}

.footer {
    grid-area: footer;
}

@keyframes smoothDrop {
    from {
        transform: translate(-100%) scaleX(0);
    }
    to {
        transform: translate(0) scaleX(1);
    }
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modalDialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
    .modalDialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modalContent {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
    .modalContent {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* свойства для заголовка модального окна */
.modalHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modalTitle {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modalBody {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
